{% extends 'base.html' %}

{% block content %}
    <h1>Reporte de Pacientes</h1>
    <table>
        <thead>
            <tr>
                <th>ID Paciente</th>
                <th>Nombre</th>
                <th>Apellido Paterno</th>
                <th>Apellido Materno</th>
                <th>Fecha de Nacimiento</th>
                <th>Fecha de Registro</th>
            </tr>
        <thead>
            <tbody>
                {% for p in pacientes %}
                <tr>
                    <td>{{ p.id_paciente }}</td>
                    <td>{{ p.nombre }}</td>
                    <td>{{ p.apellido1 }}</td>
                    <td>{{ p.apellido2 }}</td>
                    <td>{{ p.fecha_nac }}</td>
                    <td>{{ p.fecha_reg }}</td>
                    <td>
                        <a href="{% url 'editar_paciente' p.id_paciente %}">Editar</a>
                        <a href="{% url 'eliminar_paciente' p.id_paciente %}">Eliminar</a>
                    </td>
                </tr>
                {% endfor %}    
            </tbody>
    </table>
    </table>

{% endblock %}